@font-face {
    font-family: "Figtree";
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

html, body {
    font-size: 62.5%;
}

body {
    padding: 10px;
    text-align: center;
    background-color: hsl(47, 88%, 63%);
}

article {
    max-width: 350px;
    margin: 0 auto;
}

h3 {
    font-size: 2.1rem;
    font-weight: 600;
}

p {
    margin-top: 10px;
    font-size: 1.6rem;
}

.attribution {
    margin-top: 2rem;
}

.blog-card {
    width: 100%;
    text-align: left;
    box-shadow: 7px 7px 0 2px #000000;
    border: 1px solid black;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 1.5rem;
}

.blog-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
}

.byline-container {
}

.byline-container img, .byline-container p {
    vertical-align: middle;
}

.byline-container p {
    display: inline-block;
    margin-left: 10px;
}

.byline-container img {
    display: inline-block;
    width: 10vw;
    height: auto;
}

#topic-header {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 30px;
    background-color: hsl(47, 88%, 63%);
    font-weight: 600;
}

#publishing-date {
    font-size: 1.3rem;
}